* {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: medium;
}
h1 {
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    color: green;
}
a {
    color: blue;
}

img {
    width: 500px;
    height: auto;
}